@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border: 3px solid black;
}

.producto {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.productos-grid {
  display: grid;
  gap: 20px;
  border: 3px solid black;
}