/* Loader Spinner */
.loader {
  border-top-color: #3498db;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

/* Estilos personalizados (si es necesario) */
.product-detail {
  font-family: Arial, sans-serif;

}
